@tailwind base;
@tailwind components;
@tailwind utilities;

// カスタムCSS
#print_table {
    & th {
        border-top: 1px solid rgba(0, 0, 0, 0.436);
        border-right: 1px solid rgba(0, 0, 0, 0.436);
        border-left: 1px solid rgba(0, 0, 0, 0.436);
        border-bottom: 3px double rgba(0, 0, 0, 0.436);

        &.imp {
            border-top: 2px solid black;
            border-right: 2px solid black;
            border-left: 2px solid black;
            border-bottom: 3px double black;
        }
    }
    & td {
        border-top: 1px solid rgba(0, 0, 0, 0.436);
        border-right: 1px solid rgba(0, 0, 0, 0.436);
        border-left: 1px solid rgba(0, 0, 0, 0.436);
        border-bottom: 1px solid rgba(0, 0, 0, 0.436);

        
        &.imp {
            border-top: 2px solid black;
            border-right: 2px solid black;
            border-left: 2px solid black;
            border-bottom: 2px solid black;
        }
    }
}
